body{
    font-family: 'Gabriela';font-size: 22px;
}

.row1{
    padding-top: 125px;
    padding-bottom: 50px;
}
.row1 img{
    height: 400px;
    /* border: 3px solid #A170D4; */
    border: 3px solid #FA5555;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text{
    font-size: 20px;
}

.title{
    font-size: 60px;
    align-self: flex-start;
    padding-bottom: 30px;
}

.row2{
    background-color: #4B7BFF;
    display: block;
    min-height: 110vh;

}

.card-deck{
    padding-top: 5vh;
    margin: 70px;
    
}
.card {
    border: 3px solid #FA5555;
}

.card-text {
    font-size: 20px;
}

hr {
    border: none;
    height: 4px;
    background: #4B7BFF;
}