hr{
    background: black;
}

.flex{
    display: flex;
    width: 100vw;
    align-items: center;
    position: fixed;
    bottom: 225px;
    left: 650px;
}

.home-text{
    font-size: 100px;
    font-weight: 700;
    color: white;
}
