.navimg{
    width: 40px;
    height: 40px;
}
.navbar{
    color: black;
    padding-bottom: 0px;
    background-color: #FFFAF7;
}
.collapse{
    display:flex;
    justify-content:right;
}
.navbar-brand{
    color:black;
}

body{
    background-color: #FFFAF7;
    font-family: 'Gabriela';font-size: 22px;
}

hr{
    border: none;
    height: 4px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.navbar-nav{
    display: flex;
    flex-grow: 2;
    justify-content: space-around;
}