body{
    font-family: 'Gabriela';font-size: 22px;
}

.row1{
    padding-top: 125px;
    padding-bottom: 50px;
}

.row1 img{
    height: 400px;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text{
    font-size: 20px;
}

.title{
    font-size: 60px;
    align-self: flex-start;
    padding-bottom: 30px;
}

.row2{
    background-color: #D93939;
    display: block;
    min-height: 85vh;

}

.card-deck{
    padding-top: 5vh;
    margin: 70px;
}