.navimg{
    width: 60px;
    height: 60px;
}
.navbar{
    color: black;
    padding-bottom: 0px;
    background-color: #FFFAF7;
}
.collapse{
    display:flex;
    justify-content:right;
}
.navbar-brand{
    color:black;
}
hr{
    border: none;
    height: 4px;
    background: magenta;
}
.navbar-nav{
    display: flex;
    flex-grow: 2;
    justify-content: space-around;
}